<div class="contacts-container">
  <mat-selection-list class="contacts-sidebar" multiple="false" hideSingleSelectionIndicator="true">
    @for (contact of users(); track contact.id) {
      <mat-list-option class="contact-item">
        <div class="contact-avatar">
        </div>
        <div class="contact-name">
          {{contact.first_name + " " + contact.last_name}}
        </div>
      </mat-list-option>
    }
  </mat-selection-list>

  <div class="contacts-content">
    TODO
  </div>
</div>
