<mat-toolbar class="toolbar">
  <button mat-icon-button (click)="toggleSidebar.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Mein Kalender</span>
  <button mat-icon-button>
    <mat-icon>arrow_left</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>arrow_right</mat-icon>
  </button>
  <span class="spacer"></span>
  <mat-select class="view-select">
    @for (option of options; track option) {
    <mat-option [value]="option.value">{{option.label}}</mat-option>
    }
  </mat-select>
  <mat-button-toggle-group [hideSingleSelectionIndicator]="true" [value]="'calendar'">
    <mat-button-toggle value="calendar">Kalender</mat-button-toggle>
    <mat-button-toggle value="tasks">Aufgaben</mat-button-toggle>
    <mat-button-toggle value="contacts">Kontakte</mat-button-toggle>
  </mat-button-toggle-group>
</mat-toolbar>
