<mat-toolbar class="toolbar">
  <button mat-icon-button (click)="toggleSidebar.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Mein Kalender</span>
  <button mat-icon-button (click)="onPrevious()">
    <mat-icon>arrow_left</mat-icon>
  </button>
  <button mat-icon-button (click)="onNext()">
    <mat-icon>arrow_right</mat-icon>
  </button>
  <span class="timespan-text">{{timespanText}}</span>
  <span class="spacer"></span>
  <mat-select class="view-select" (selectionChange)="calendarViewChanged.emit($event.value)" [value]="'week'">
    @for (option of CalendarDisplayViewList; track option.id) {
    <mat-option [value]="option.id">{{option.name}}</mat-option>
    }
  </mat-select>
  <mat-button-toggle-group hideSingleSelectionIndicator value="calendar">
    <mat-button-toggle value="calendar">Kalender</mat-button-toggle>
    <mat-button-toggle value="tasks">Aufgaben</mat-button-toggle>
    <mat-button-toggle value="contacts">Kontakte</mat-button-toggle>
  </mat-button-toggle-group>
</mat-toolbar>
