<div class="main-component">
  <app-sidebar [sidebarOpen]="sidebarOpen">
    <div class="container">
      <app-navbar (toggleSidebar)="toggleSidebar()" (calendarViewChanged)="calendarViewChanged($event)"/>

      <main class="main">
        <app-calendar-fivedays></app-calendar-fivedays>
        @if (calendarEvents == null) {
          <div class="loading">
            <mat-spinner></mat-spinner>
          </div>
        } @else {
          @for (event of calendarEvents; track event.id) {
            {{event.start}} - {{event.end}}: {{event.title}}
          }
        }
      </main>
    </div>
  </app-sidebar>
</div>
