Login
<div>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input
                matInput
                [formControl]="email"
                (blur)="updateEmailErrorMessage()"
                required
                type="email"
        />
        @if (email.invalid) {
            <mat-error>{{ errorMessage() }}</mat-error>
        }
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            Password
        </mat-label>
        <input
                matInput
                [formControl]="password"
                type="password"
        />
    </mat-form-field>
    <button mat-button (click)="login()">Login</button>
</div>
